#myMax_text
{
    font-size: 40px;
    background-image: linear-gradient(to right, white, #383838, #000000, #242424, white);
    color: blanchedalmond;
    padding: 2px 50px 2px 50px;
}

.companyInfo_text
{
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;

    p
    {
        font-size:20px;
        text-align: justify;
    }

    .logo_companyInfo
    {
        width: 150px;
        height: 150px;
        float: left;
        margin-right: 50px;
    }
    
    .collecction1
    {
        width: 400px;
        float: right;
        margin-right: 50px;
        margin: 0 0 50px 50px;
    }
    
    
}

.companyInfo_Container
{
    width: 100%;
    height:  inherit;

    display: flex;
    background-color: #000;

    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.vision_contaner
{
    width: 50%;
    height: 400px;
    
    background-image: url('../../Img/vision.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    //filter: grayscale(50%);

    //padding: 25px;


    .vision_info
    {
        width: 80%;
        background-color: #0591d6de;

        margin-right: auto;
        padding: 25px;

        margin-top: 150px;

        color: white;
        font-size: 20px;
    }


}

.mission_contaner
{
    width: 50%;
    height: 400px;
    
    background-image: url('../../Img/mission.jpg');
    background-repeat: no-repeat;
    background-size:cover;

    //filter: grayscale(50%);

    //padding: 25px;

    .mission_info
    {
        width: 80%;
        background-color: #0591d6de;

        margin-left: auto;
        padding: 25px;

        margin-top: 150px;

        color: white;
        font-size: 20px;
    }
}


@media only screen and (max-width: 900px) 
{
    .companyInfo_Container
    {
        display: block;

        .vision_contaner, .mission_contaner
        {
            width: 100%;
            .vision_info
            {
                    
                margin-top: 0px;
            }
            .mission_info
            {
                    
                margin-top: 20px;
            }
        }
    }

    

}