

.slider
{
    width: 90%;
    height: 250px;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
    margin: auto;
}

.slider-track
{
    display: flex;
    width: calc(250px * 14);
    animation: scroll 50s linear infinite;
}

.slider-track:hover
{
    animation-play-state: paused;
}

.slide
{
    height: 200px;
    width: 205px;
    display: flex;
    align-items: center;
    padding: 15px;

    perspective: 100px;
}

.slide img
{
    width: 100%;
    filter: grayscale(100%);
}

.slide img:hover{
    transform: translateZ(20px);
    filter: none;
}

.slider::before, .slider::after
{
    content: '';
    width: 15%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position:absolute;
    z-index: 1;
}

.slider::before
{
    left: 0;
    top: 0;

}

.slider::after
{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}





@keyframes scroll
{
    0%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(calc(-250px * 7));
    }
}