.footer-container
{
    width: 100%;
    height: inherit;
    
    padding-top: 55px;
    padding-bottom: 10px;
    display: flex;

}

.companyInfo-container
{
    width: 25%;
    margin-left: 5%;
}

.pageListAndDetail_container
{
    width: 67%;
    display: flex;
}

.companyNameF
{
    font-size: 28px;
    font-weight: 600;
    float: left;
}

.hr
{
    width: 100%;
    height: 0.5px;
    background-color: #dfdfdf;
}

.companyInfo
{
    margin-top: 17px;
    text-align: left;
    line-height: 1.7;
    color: #8888a7;
}

.pages-container
{ 
    margin-left: 10%;
    width: 15%;  /*  25% */
}

.contact-container
{
    margin-left: 5%;
    width: 35%; /* 40% */
}

.footerTital
{
    padding-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;

    color: #333333;
}

.pageList
{
    list-style: none;
}

.iconFooter
{
    line-height: 0px;
    text-align: left;
    color: #8888a7;
    padding-right: 10px;

    cursor:pointer;
}

.contactFooter
{

    padding-left: 0px;
    text-align: left;
    color: #8888a7;

    line-height: 45px;
}

.contactFooter a
{
    text-decoration: unset;
    color: #8888a7;
}


.footerLink
{
    text-decoration: none;
    color: #8888a7;
    
    cursor:pointer;
}
.footerLink:hover, .contactFooter:hover, .contactFooter a:hover
{
    font-weight: 900;
    color: #54a8f7;
}

#pbText
{
    color: #8888a7;
    font-size: 15px;
}

#pbValue
{
    color: #54a8f7;
    font-weight: 600;
    font-size: 15px;

    cursor: pointer;
}

.openTime_Container
{
    margin-left: 3%;
    width: 28%;
    color: #8888a7;
}

.openTime_Container ul li
{
    margin-left: 5px;
    line-height: 30px;
    text-align: justify;
}



.socialMedia_Container
{
    display: flex;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}

.socialMedia_Container a
{
    margin-left: auto;
    margin-right: auto;
    color: unset;
}

.socialMediaIcon:hover
{
    color: #4f8cff;
}

.footerEnd
{
    width: 100%;
    height: 12px;

    background-image: linear-gradient(to right, #5a93fd, #2566dd, #4f8cff);
}



@media only screen and (max-width: 1035px) 
{
    .footer-container
    {
        display: block;
    }

    .companyInfo-container
    {
        width: 84%;
        margin-right: 8%;
    }

    .companyInfo
    {
        text-align: justify;
    }

    .pageListAndDetail_container
    {
        margin-left: 5%;
        width: 90%;
        margin-right: 5%;
    }

    .pages-container 
    {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;

    }

    .contact-container
    {
        margin-top: 30px;
        
        margin-left: auto;
        margin-right: auto;
    }

    .openTime_Container
    {
        margin-top: 30px;
        
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (max-width: 750px) 
{
    .pageListAndDetail_container
    {
        display: block;
    }

    .pages-container , .contact-container
    {
        
        margin-top: 30px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .openTime_Container
    {
        margin-top: 30px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .openTime_Container ul li
    {
        line-height: 40px;
    }

    .openTime_Container ul li , .footerTital, .contactFooter, .iconFooter
    {
        text-align: center;
    }

    .contactTable tr td a
    {
        margin-left: -22%;
    }

    .iconFooter
    {
        display: none;
    }

  
}