.newsBlog_block
{
    width: 80%;
    margin: auto;

    .newsBlog_image
    {
        width: 100%;
    }

    .newsTag_container
    {
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        color: #54a8f7;

        .newsTag
        {
            padding-top: 25px;
            text-align: left;
        }

    }

    .newsBlog_heading_container
    {
        margin-top: 20px;

        .newsBlog_heading_link 
        {
            text-decoration: unset;
            color: black;

            .newsBlog_heading 
            {
                text-align: left;
                font-size: 20px;
            }
        }

        .newsBlog_heading_link:hover
        {
            color: #54a8f7;
        }
        
    }

    .newsBlog_block_date_container
    {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;

        .time_icon_container
        {
            color: #8888a7;
        }

        .newsBlog_block_date
        {
            margin-left: 15px;
            font-size: 14px;
            font-weight: bold;
            color: #8888a7;
        }
    }

}


@media only screen and (max-width: 1000px) 
{
    .newsBlog_block
    {
        width: 60%;

        .newsBlog_image
        {
            margin-top: 25px;
            height: 200px;
        }

        .newsBlog_heading_container 
        {
            margin-top: 10px;
        }
        
        .newsTag_container 
        {
            .newsTag {
                padding-top: 15px;
            }
        }
        
        .newsBlog_block_date_container 
        {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}