
.ourServices-container
{
    width: 85%;
    height: inherit;
    margin-left: auto;
    margin-right: auto;

    padding-top: 30px;
    padding-bottom: 60px;

    display: block;
    text-align: left;
}

.service-container
{
    width: 100%;
}

.service-info
{
    width: 100%;
    height: 250px;
    text-align: justify;
    display: block;

    padding-bottom: 10%;
    
    box-shadow: 5px 10px 15px -10px rgb(15, 36, 224);
    background-size: cover;
    border-radius: 10px;
    filter: grayscale(100%);
}

.service-title
{
    padding-top: 10px;
    display: none;
    border-radius: 10px;
    
}

.service-info1
{
    background-image: url('../Img/ser2.jpg');
}
.service-info2
{
    background-image: url('../Img/ser3.jpg');
}
.service-info3
{
    background-image: url('../Img/ser2.jpg');
}
.service-info:hover
{
    filter: none;
}

.service-info:hover .service-title
{
    display: none;
}

.service-info:hover .service-info-data
{
    display: block;
    clip-path: circle(100%);
}

.service-info span
{
    font-size: medium;
    color: white;
}



.service-info-data
{
    height: 200px;
    width: 100%;
    padding-top: 20px;
    padding-right: 4%;
    padding-left: 2%;

    color: white;
    background-color: #1157ad;

    border-radius: 10px;
    clip-path: circle(60% at 5% -200%);
    transition: clip-path .5s ease-in-out;

    span
    {
        padding-left: 2%;
    }
    
}


h1{
    color: #ffffff;
}